.service-container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-));
  /* padding-inline: 15px; */
}
.service-item {
  display: block;
  width: calc(100% / 3);
  padding-inline: 15px;
}
.service-item .service-padding {
  margin-bottom: 30px;
  padding: 35px 35px 20px;
  padding-top: 35px;
  border-radius: 5px;
  transition: 0.5s;
  background-color: #f4f9ff;
  padding-inline: 30px;
}
.service-item .service-padding .service-icon{
    color: #6168ff;
    transition: all 0.3s ease 0s;
    margin-right: 20px;
    display: inline;
    float: left;
    line-height: 0;
}
.service-item .service-padding .service-icon i{
    font-size: 50px;
}
.service-item .service-padding .service-content{
    overflow: hidden;
}
.service-item .service-padding .service-content h4{
    font-size: 20px;
    margin-bottom: 10px;
    text-transform: capitalize;
    margin-top: 0px;
    font-family: 'Nunito', sans-serif;
    color: #333;
    font-weight: 700;
    line-height: normal;
}
.service-item .service-padding .service-content p{
    margin-bottom: 15px;
    margin-top: 0;
}

